@model PhoneChalin.ViewModels.Login

@{
    ViewData["Title"] = "Login";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Smartphone Chalin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #4e73df; ">
    <div class="container">
        <main role="main" class="pb-3">
            <div class="row shadow p-3 mb-3 bg-white rounded mt-3">
                <div class="col text-center">
                    <img src="~/img/hp.png" alt="Smartphone" class="img-login">
                </div>
                <div class="col">
                    <div class="text-center mt-5">
                        <img style="width:35% !important;" src="~/img/logo.png" class="img-fluid img-logo-login" />
                    </div>
                    <div class="text-center">
                        <span class="text-danger">@TempData["loginInvalid"]</span>
                    </div>
                    <form asp-action="Login">
                        <div class="form-group">
                            <label>Username</label>
                            <input type="text" class="form-control" asp-for="Username" placeholder="Username">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="submit" value="Save" class="btn btn-info btn-lg btn-block">Login</button>
                        </div>
                    </form>
                    <p class="text-right mt-2">Forget <a href="#">Password ?</a></p>
                    <p class="text-center mt-3">Don't have an account ? <a asp-controller="Account" asp-action="Register">Create</a></p>
                    <p class="text-center mt-3">Back to main <a asp-controller="Smartphone" asp-action="Catalog">Menu</a></p>
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
