@model PhoneChalin.Models.Supplier

@{
    ViewData["Title"] = "Create Data Supplier";
    Layout = "_LayoutAdmin";
}

<h1 class="h3 mb-4 text-gray-800">Halaman Input Data Supplier Baru</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label>Brand Supplier</label>
                <input type="text" asp-for="BrandSupplier" class="form-control" placeholder="Brand Supplier" />
                <span asp-validation-for="BrandSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Name Supplier</label>
                <input type="text" asp-for="NameSupplier" class="form-control" placeholder="Name Supplier" />
                <span asp-validation-for="NameSupplier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Phone Supplier</label>
                <input type="text" asp-for="Phone" class="form-control" placeholder="Phone Supplier" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Address Supplier</label>
                <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" value="Save" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
